
.icon-star:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-ok:before { content: '\e802'; } /* '' */
.icon-plus:before { content: '\e803'; } /* '' */
.icon-upload:before { content: '\e804'; } /* '' */
.icon-down-open:before { content: '\e805'; } /* '' */
.icon-up-open:before { content: '\e806'; } /* '' */
.icon-home:before { content: '\e807'; } /* '' */
.icon-menu:before { content: '\e808'; } /* '' */
.icon-check:before { content: '\e809'; } /* '' */
.icon-cancel:before { content: '\e80a'; } /* '' */
.icon-heart-empty:before { content: '\e80b'; } /* '' */
.icon-star-1:before { content: '\e80c'; } /* '' */
.icon-heart:before { content: '\e80d'; } /* '' */
.icon-star-2:before { content: '\e80e'; } /* '' */
.icon-star-filled:before { content: '\e80f'; } /* '' */
.icon-menu-1:before { content: '\e810'; } /* '' */
.icon-sun:before { content: '\e811'; } /* '' */
.icon-to-start:before { content: '\e812'; } /* '' */
.icon-to-end:before { content: '\e813'; } /* '' */
.icon-play:before { content: '\e814'; } /* '' */
.icon-stop:before { content: '\e815'; } /* '' */
.icon-pause:before { content: '\e816'; } /* '' */
.icon-play-1:before { content: '\e817'; } /* '' */
.icon-stop-1:before { content: '\e818'; } /* '' */
.icon-pause-1:before { content: '\e819'; } /* '' */
.icon-fast-fw:before { content: '\e81a'; } /* '' */
.icon-rewind:before { content: '\e81b'; } /* '' */
.icon-to-end-1:before { content: '\e81c'; } /* '' */
.icon-to-start-1:before { content: '\e81d'; } /* '' */
.icon-play-circle2:before { content: '\e81e'; } /* '' */
.icon-pause-2:before { content: '\e81f'; } /* '' */
.icon-pause-circled:before { content: '\e820'; } /* '' */
.icon-stop-circled:before { content: '\e821'; } /* '' */
.icon-play-circled:before { content: '\e822'; } /* '' */
.icon-play-2:before { content: '\e823'; } /* '' */
.icon-pause-3:before { content: '\e824'; } /* '' */
.icon-play-circled2:before { content: '\e825'; } /* '' */
.icon-backward-circled:before { content: '\e826'; } /* '' */
.icon-forward-circled:before { content: '\e827'; } /* '' */
.icon-volume-up:before { content: '\e828'; } /* '' */
.icon-volume-off:before { content: '\e829'; } /* '' */
.icon-volume-up-1:before { content: '\e82a'; } /* '' */
.icon-volume-off-1:before { content: '\e82b'; } /* '' */
.icon-shuffle:before { content: '\e82c'; } /* '' */
.icon-cw:before { content: '\e82d'; } /* '' */
.icon-list:before { content: '\e82e'; } /* '' */
.icon-list-1:before { content: '\e82f'; } /* '' */
.icon-minus-circled:before { content: '\e830'; } /* '' */
.icon-th-list:before { content: '\f009'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-telegram:before { content: '\f2c6'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */
